<section id="articles-container">
  <header>
    <h2>Posty</h2>
    <div class="btn-container">
      <button class="active"><img src="/assets/menu-icon.svg" alt="menu-icon">Wszystkie</button>
      <button><img src="/assets/heart-icon.svg" alt="heart-icon">Moje</button>
    </div>
    <button><img src="assets/fire-icon.svg" alt="most-popular-icon">Najlepsze<img src="assets/chevron-down-icon.svg" alt="chevron-icon"></button>
  </header>
  <section id="add-article">
    <div id="user-icon-container">
      <img src="/assets/user-icon.svg" alt="user-icon">
    </div>
    <input id="create-article" type="text" placeholder="Kliknij i dodaj wpis...">
  </section>

<!--  <ul>-->
<!--    <app-article  *ngFor="let article of articles"></app-article>-->
<!--  </ul>-->
<!--  <button (click)="addArticle()">Add Article</button>-->
</section>
