<header>
  <div id="header-container">
    <div>
      <div id="logo-container">
        <img src="assets/ohmydev-big-logo.svg" alt="logo">
        <div id="beta">BETA</div>
      </div>
      <app-theme-switch></app-theme-switch>
    </div>
    <div>
      <div id="search-input-container">
        <img src="assets/search-icon.svg" alt="search icon">
        <input id="search" type="text" placeholder="Szukaj">
      </div>
      <button class="btn login">Zaloguj się</button>
      <button class="btn add-post">Dodaj post</button>
    </div>
  </div>
  <hr/>
  <div>subheader
  </div>
</header>
